body{
    background-color: teal;
    font-size: large;
    font-family: sans-serif;
    overflow: hidden;
}
#header{
    text-align: center;
    justify-content: center;
}
#Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#pongBoard{
    border: 5px solid;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin-top: 20px;
}
#resetButton{
    font-family:cursive;
    font-size: 25px;
    border: 4px dashed;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    cursor: pointer;
    background-color: yellow;
}

#startButton{
    font-family:cursive;
    font-size: 25px;
    border: 4px dashed;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    cursor: pointer;
    background-color: green;
}

#pauseButton{
    font-family:cursive;
    font-size: 25px;
    border: 4px dashed;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    cursor: pointer;
    background-color: red;
}

#Pause{
    position: absolute;
    font-size: 20px;
    top: 800px;
    right: 450px;
    font-weight: bold;
}

#Enter{
    position: absolute;
    font-size: 20px;
    top: 800px;
    left: 430px;
    font-weight: bold;
}

#player1{
    position: absolute;
    font-size: 20px;
    top: 700px;
    left: 100px;
    font-weight: bold;
}
#player2{
    position: absolute;
    font-size: 20px;
    top: 700px;
    right: 100px;
    font-weight: bold;
}